<!DOCTYPE html>
<html>
  <head>
    <title>Gelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/251f15af74.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
     window.illustrationURL = "<%= image_url('signup_illustration.png') %>";
    </script>
    <script type="text/javascript">
     window.doughnutsURL = "<%= image_url('doughnuts.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
